export(
"cst.fun",
"cst.stat",
"diffmean.fun",
"diffmean.stat",
"efront.fun",
"efront.stat",
"lai.tscore",
"lait.fun",
"lait.stat",
"modt.fun",
"modt.stat",
"rankprod.fun",
"rankprod.stat",
"sam.fun",
"sam.stat",
"samL1.fun",
"samL1.stat",
"shrinkcat.fun",
"shrinkcat.stat",
"shrinkt.fun",
"shrinkt.stat",
"studentt.fun",
"studentt.stat"
)
import(
"fdrtool",
"sda"
)

